{% extends "home.html" %}

{% block content %}
	
	<div class="container-fluid" style="padding-left: 40px;padding-right: 40px;margin-top: 30px;">
		<h4 style="color: #0d6efd; text-align: center;">Essay Set 1</h4>
		<h6>More and more people use computers, but not everyone agrees that this benefits society. Those who support advances in technology believe that computers have a positive effect on people. They teach hand-eye coordination, give people the ability to learn about faraway places and people, and even allow people to talk online with other people. Others have different ideas. Some experts are concerned that people are spending too much time on their computers and less time exercising, enjoying nature, and interacting with family and friends.<br><br>
		Write a letter to your local newspaper in which you state your opinion on the effects computers have on people. Persuade the readers to agree with you.
		</h6>
		<form action="{{url_for('set1')}}" method="post">
			<div class="form-floating" style="margin-bottom: 15px;">
				<textarea class="form-control" id="floatingTextarea2" style="height: 500px" name="essay" required></textarea>
				<label for="floatingTextarea2">Enter the essay here</label>
			</div>
			<div style="text-align: center; margin-bottom: 25px;">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
		<div style="margin-bottom: 100px; color: #0d6efd;">
			<h4>{{ max }}</h4>
			<h4>{{ min }}</h4>
			<h4>{{ result }}</h4>
		</div>
	</div>

{% endblock %}